.header {
  position: relative;
  width: 100%;
  .banner {
    width: 750px;
    height: 684px;
  }
  .loginPanel {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 188px;
    display: flex;
    align-items: center;
    background: #f8f6fb;
    border-radius: 60px 60px 0 0;
    .left {
      margin-left: 68px;
      .leftIcon {
        width: 99px;
        height: 99px;
      }
    }
    .right {
      margin-left: 28px;
      .topText {
        display: block;
        height: 44px;
        line-height: 44px;
        font-size: 32px;
        font-weight: 500;
        color: #511e88;
      }
      .bottomText {
        display: block;
        margin-top: 10px;
        height: 32px;
        font-size: 22px;
        color: #1b0726;
        line-height: 32px;
      }
    }
  }
}
.body {
  height: 460px;
  background: #f8f6fb;
  box-sizing: border-box;
  padding: 40px 32px;
  display: flex;
  justify-content: space-between;
  .bodyContent {
    width: 324px;
    height: 380px;
    background: linear-gradient(45deg, #D4C4E6 0%, #F1EAFB 60%, #EEE1FA 100%);
    border-radius: 40px;
  }
  .bodyRight {

  }

}
